{
    "trigger_level": "L3",
    "dyda_config": "/etc/dyda/data/trainer.config",
    "pipeline_def": [{
            "name": "data_reader",
            "component": "data_reader",
            "class": "BinaryDataReader",
	    "output_type": "output_data",
	    "snapshot": false,
            "type": "normal",
            "input_type": "package_external_data"
        },
        {
            "name": "frame_selector",
            "component": "frame_selector",
            "class": "FrameSelectorDownsampleFirst",
            "type": "gate",
            "input_type": "use_previous_output",
            "dyda_config": {
                "interval": 1
            }
        },
        {
            "name": "image_padder",
            "component": "image_processor",
            "class": "PadImageProcessor",
            "type": "normal",
            "input_type": "use",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"]
            ]}
        },
        {
            "name": "tflite_detector",
            "component": "tflite_engine",
            "class": "DetectorTFLiteMobileNetSSD",
            "print_output": true,
	    "output_type": "results",
            "type": "normal",
            "input_type": "use_previous_output",
            "dyda_config": {
                "model_file": "/usr/share/dlmodels/mobilenet-ssd-coco-tflite-2.0.0/model.tflite",
                "label_map": "/usr/share/dlmodels/mobilenet-ssd-coco-tflite-2.0.0/labels.txt",
                "num_threads": 3
            }
        },
        {
            "name": "label_determinator",
            "component": "determinator",
            "class": "DeterminatorTargetLabel",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "target": "person"
            }
        },
        {
            "name": "unpad_box_processor",
            "component": "box_processor",
            "class": "UnpadBoxProcessor",
            "type": "normal",
            "input_type": "append",
            "additional_info": {"input_data": [
                ["image_padder", "results"],
                ["label_determinator", "results"]
            ]}
        },
        {
            "name": "tracker",
            "component": "tracker",
            "class": "TrackerSimple",
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "roi_determinator",
            "component": "determinator",
            "class": "DeterminatorByRoi",
	    "type": "skip",
            "dyda_config": {
                "use_external_meta": true
            },
            "type": "normal",
            "input_type": "use_previous_results"
        },
        {
            "name": "accumulator",
            "component": "accumulator",
            "class": "AccumulatorObjectNumber",
            "type": "normal",
            "input_type": "use_previous_results",
            "dyda_config": {
                "reset_frame_num": -1,
                "appear_num_thre": 2
            }
        },
        {
            "name": "tracker_output",
            "component": "output_generator",
            "class": "OutputGeneratorBehavior",
            "type": "normal",
            "output_type": "results",
            "input_type": "use",
            "print_output": false,
            "additional_info": {"input_data": [
                ["tracker", "results"]
            ]},
            "dyda_config": {
                "channel_num": 1
            }
        },
        {
            "name": "counter_output",
            "component": "pipeline_comp",
            "class": "OutputGeneratorFromMeta",
            "type": "normal",
            "output_type": "results",
	    "print_output": false,
            "input_type": "use_meta_pairs",
            "additional_info": {"comp_key_pairs": [
                ["tracker_output", "timestamp"],
                ["tracker_output", "channel_index"],
                ["tracker_output", "size"],
                ["tracker_output", "annotations"],
                ["accumulator", "object_counting"]
            ]}
        },
        {
            "name": "final_json_output",
            "component": "data_reader",
            "class": "InputDataAsResultsReader",
            "type": "output_generator",
            "input_type": "use_previous_results",
            "output_type": "results",
	    "snapshot": false,
	    "print_output": true,
            "dyda_config": {
                "unpack_single_list": false
            }
        },
        {
            "name": "image_patcher",
            "component": "image_processor",
            "class": "PatchImageProcessor",
            "snapshot": false,
            "type": "output_generator",
            "input_type": "append",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["data_reader", "output_data"],
                ["final_json_output", "results"]
            ]},
            "dyda_config": {
                "patch_color": [0, 255, 255],
                "patch_line_width": 3,
                "text_space": -10,
                "key_to_patch": ["track_id"]
            }
        },
        {
            "name": "final_img_output",
            "component": "image_processor",
            "class": "PatchSysInfoImageProcessor",
            "dyda_config":    {
                "patch_color": [255, 0, 0],
                "patch_line_width": 6,
                "text_space": 30,
                "keys_to_patch": ["object_counting"],
                "unpack_single_list": false,
                "snapshot_with_counter": false,
		"company_info": "All right reserved. AIKEA confidential",
		"attach_company_info": true,
		"patch_external_meta_roi": false
            },
            "input_type": "append",
	    "snapshot": false,
            "type": "output_generator",
            "output_type": "output_data",
            "additional_info": {"input_data": [
                ["image_patcher", "output_data"],
                ["image_patcher", "results"]
            ]}
        }
    ]
}
